
.homepage-background {
    background-image: url('../src/HomePageBackground.png');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: calc(100vh - 40px);
    overflow: auto;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}
/* Background styling for the projects container */
.projects-background {
    background-color: #f0f0f0; /* Light grey background */
    padding: 20px; /* Add some padding */
    border-radius: 8px; /* Adds rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow */
}

#welcome-article {
    position: absolute;
    top: 50%;
    left: 15%;
    justify-content: center;
    align-items: center;
    color: #fff; 
    text-align: center;
    z-index: 10;
    width: 80%; 
    max-width: 800px; 
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scroll */
}




.fixed-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1030; /* Makes sure it stays above other content */
}


.navbar {
    margin: 0 0 0 0;
}



@media screen and (max-width: 768px) {
    #welcome-article {
        left: 10%; /* Adjust horizontal position */
        width: 80%; /* Adjust width */
    }
}

@media screen and (max-width: 480px) {
    .navbar {
        margin: 10px 0; /* Add some margin on smaller screens */
    }
    .projects-background{
        flex-direction: column;
    }
}

